In [1]:
print('Hola desde la consola')

Hola desde la consola

In [ ]:
    sum = 1 + 2 # 3
    product = sum * 2
    print(product)

6

In [5]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

In [6]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

In [7]:
    left_side = 10
    right_side = 5
    left_side / right_side # 2

2.0

In [8]:
# Importamos la biblioteca 
from datetime import date

# Obtenemos la fecha de hoy
date.today()

# Mostramos la fecha en la consola
print(date.today())

2022-02-08

In [9]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-08

In [10]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Saludos: dario

In [13]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
6

Kata modulo1

In [14]:
from datetime import date

print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-08

In [15]:
parsec = 11
lightyears = 3.26156 * parsec

print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

11 parsec, is 35.877159999999996 lightyears